aclocal.m4
autom4te.cache
compile
config.h*
config.log
config.status
configure
depcomp
.deps
install-sh
.local.el
Makefile
Makefile.in
missing
mpisort-*.tar.gz
*.o
src/Makefile.in
src/mpiSORT
stamp-h1
